<div id="lunch-container">
  <div id="lunch-header">
    Lunch Menu
    <br /><span id="lunch-hours">(Open to 4pm)</span>
  </div>
  <div id='lunch-body'>
    <div class='lunch-item'>Teriyaki Chicken Lunch Bowl - 6.75</div>
    <div class='lunch-item'>Lunch Ramen - 6.75</div>
  </div>
</div>

